<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.hxgroup.www.hhu"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="cn.hxgroup.www.hhu.app.HHUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mainview.MainViewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hxgroup.www.hhu.ui.WifiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.WifiFilterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.LocalUploadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.AppUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.CheckTimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.DeviceDocumentManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.DeviceOperationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.RealDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.VersionManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.ServerEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.feature.ResetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.TimeOutSelectActivity"
            android:theme="@style/CustomDialogStyle"/>
        <activity android:name=".ui.feature.FileSelectActivtiy"
            android:screenOrientation="portrait"/>

        <service
            android:name=".app.TcpService"
            android:exported="false"/>
    </application>

</manifest>
